.wish_container {
  width: 970px;
}

.wish_container h2 {
  font-size: 28px;
  margin-bottom: 25px;
}

.tab_container {
  display: flex;
  justify-content: start;
  gap: 10px;
  margin-bottom: 25px;
}

.tab {
  background-color: transparent;
  width: 60px;
  padding: 15px;
  border: none;
  cursor: pointer;
  color: #333;
  font-weight: 700;
}

.activeTab {
  background-color: #00de90;
  width: 60px;
  padding: 15px;
  border-radius: 4px;
  border: none;
  color: #333;
  font-weight: 700;
}

.content_box {
  width: 990px;
}

.product_grid {
  gap: 6px;
  display: flex;
  flex-wrap: wrap;
}

.shop_container {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
}
