.dropdown {
  position: absolute;
  top: 30px;
  right: 0;
  width: 360px;
  height: 416px;
  background: white;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 100;
}

.title {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
  height: 48px;
  line-height: 48px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  border-bottom: 1px solid #f2f2f2;
}

.notificationList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 320px;
  overflow-y: auto;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.text {
  display: flex;
  justify-content: space-between;
}

.textBox {
  width: 100%;
}

.category {
  color: #00de90;
  font-size: 12px;
}

.date {
  font-size: 12px;
}

.content {
  font-size: 14px;
  font-weight: 700;
}

.empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
  padding: 10px;
  color: #888;
}

.emptyIcon {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.viewAll {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 48px;
  background: none;
  border: none;
  padding: 10px;
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
  border-top: 1px solid #d9d9d9;
}

.clearButton {
  position: absolute;
  right: 16px;
  background: none;
  border: none;
  color: #666;
  cursor: pointer;
  font-size: 12px;
}

.clearButton:hover {
  color: #333;
}
