.product_list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.product_box {
  display: flex;
  align-items: center;
  width: 300px;
  height: 120px;
  border-radius: 4px;
  position: relative;
  background: #f9f9f9;
}

.product_image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 10px;
}

.product_info {
  flex-grow: 1;
}

.product_name,
.product_price {
  font-size: 14px;
  color: #333;
  font-weight: 400;
  margin-bottom: 4px;
  max-width: 205px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  word-break: break-word;
}

.product_price {
  font-weight: 700;
}

.remove_button {
  position: absolute;
  top: 3px;
  right: 10px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.rateBox {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.rateBox b {
  font-size: 14px;
}

.rate {
  color: #00de90;
}

.price {
  color: #999;
  text-decoration: line-through;
}

.won {
  font-size: 12px;
}

.won2 {
  font-size: 14px;
}
