.input_area {
  width: 760px;
  height: 200px;
  padding: 10px;
  color: #333;
  font-size: 16px;
  outline: none;
  resize: none;
  margin: 20px 0 30px;
}

.profile_container {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  margin: 20px 0;
}

.profile_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.overlay {
  position: absolute;
  bottom: -30px;
  width: 100%;
  height: 30px;
  background: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  transition: bottom 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.profile_container:hover .overlay {
  bottom: 0;
  opacity: 1;
}

.hidden_input {
  display: none;
}

.register_button {
  width: 300px;
  height: 50px;
  display: block;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  background-color: #00de90;
  color: #333;
  font-weight: 500;
  margin-top: 100px;
  cursor: pointer;
}
