.shop_top {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 30px;
}

.shop_info {
  width: 360px;
  display: flex;
  margin: auto;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}

.shop_info img {
  width: 100px;
  height: 100px;
  border-radius: 9999px;
}

.shop_info p {
  font-size: 16px;
  color: #333;
}

.seller_info {
  display: flex;
  align-items: center;
  gap: 21px;
}

.wish_button {
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: #ef7014;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.liked {
  background: none;
  color: #333;
  border: 1px solid #999;
  font-size: 14px;
}

.wish_button p {
  color: white;
}

.shop_nav {
  width: 640px;
  display: flex;
  margin: auto;
}

.nav_button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 44px;
  cursor: pointer;
  border-bottom: 1px solid #d9d9d9;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.nav_button.active {
  font-weight: 700;
  border-bottom: 3px solid #333;
}

.product_grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 30px;
}

.no_community,
.no_products {
  margin-top: 30px;
  text-align: center;
}

.owner_buttons {
  display: flex;
  gap: 4px;
}

.add_button,
.delete_button {
  height: 37px;
  border-radius: 4px;
  border: none;
  color: #333;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.add_button {
  background-color: #00de90;
  width: 180px;
}

.delete_button {
  width: 180px;
  background-color: #ff6b00;
}

.owner_buttons .plusButton {
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.community_list {
  margin-top: 30px;
}

.community_grid_wrapper {
  display: flex;
  gap: 28px;
}

.community_grid_left,
.community_grid_right {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
